<!DOCTYPE html>
<html>
  <head>
    <title>songla</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://library.leoyeh.me/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="http://library.leoyeh.me/js/chart/chart.min.js"></script>
  </head>
  <body>
    <h1>song</h1>
    <p>Welcome to shit</p>
    <div id="content"></div>
    <canvas id="myChart" width="400" height="400"></canvas>
	<script>
		var data = {
			labels : ["January","February","March","April","May","June","July"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [65,59,90,81,56,55,40]
				},
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [28,48,40,19,96,27,100]
				}
			]
		}
		var ctx = $("#myChart").get(0).getContext("2d");
		var chart = new Chart(ctx).Line(data);
		console.log(data);
	</script>
  </body>
</html>
